body {
  background-color: #0d1117;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-top: 10rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 3px;
}

textarea {
  color: #000;
  resize: none;
  width: 25rem;
  font-size: x-large;
}

button {
  background-color: hsl(134, 74%, 63%);
  border: none;
  width: 5rem;
  height: 3rem;
  border-radius: 10px;
  margin-top: 1rem;
  color: #000;
  font-weight: 600;
  letter-spacing: 1px;
}

button:hover {
  transition: all 0.3s ease-in-out;
  background-color: hsla(134, 74%, 63%, 0.658);
  cursor: pointer;
}

.bolinha {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}

#bolinhas {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
}
